body{
    margin:0% 3% 0% 3%;
    width: 95%;
    background-color:whitesmoke;
    font-family: Arial, Helvetica, sans-serif;
}
h1{
    font-size: 28px;
    text-align: center;
    text-shadow: grey 2px 2px 5px;
}

h2{
    font-size: 24px;
    text-align: center;
    text-shadow: grey 2px 2px 5px;  
}

h3{
    font-size: 20px;
    text-align: left;
    text-shadow: grey 2px 2px 5px;  
}

ul{
    line-height: 200%;
}

p{
    line-height: 200%;
}
a{
    text-decoration: none;
    color: blue;
}

#menu a:hover{
    background-color: white;
    color:black;
}

#figtitle{
    align-self: center;
}

#menu{
    display:flex;
    justify-content: space-between;
    background-color:grey;
    font-size: 20px;
    padding:10px;
}

#menu a{
    color:white;
    font-weight: bold;
}

.column{
    position: absolute;
    width: 40%;
}

#lavar{
    position: absolute;
    right: 3%;
    width: 52%;
}

#lavar h3{
    position: absolute;
    text-align: center;
}

#formacaoacademica{
    position: absolute;
    width: 30%;
}

#profissao{
    position: absolute;
    right:33%;
    width: 30%;
}

#marcialidade{
    position: absolute;
    right:0%;
    width: 30%;
}

#fotofelipe{
    align-self: center;
    width: 33%;
    padding-bottom: 50px;
}

#titulo{
    text-align: center;
}

#tabelacontato{
    width:100%
}

#tabelacontato table{
    width:100%;
}

#tabelacontato table a i{
    font-size: 80px;
    text-align: center;
}

#tabelacontato table a p{
    font-size: 12px;
    text-align: center;
}

#atendimento{
    padding:1%;
    align-self: center;
    right: 40%;
}

#atendimento table{
    width: 90%;
    left: 20%;
}

#atendimento table tr td h3{
    text-align: center;
}